li{
    list-style: none;
}
ul:first-child>li{
    color: red;
}
ul:nth-child(odd)>li{
    color: blueviolet;
}
ul:nth-child(even)>li{
    color: violet;
}
ul:nth-child(4)>li{
    color: green;
}
ul:last-child>li{
    color: rgb(114, 114, 31);
}
h2:hover{
background-color: fuchsia;
}